In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df = pd.read_csv('train.csv')
df.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [7]:
def normalize(x):
    normalized_x = []
    for i in range(x.shape[1]):
        normalized_x.append((x[:,i] - np.mean(x[:,i]))/np.std(x[:,i]))
    normalized_x = np.array(normalized_x).T
    return normalized_x

In [8]:
x = np.array(df[['week','center_id','checkout_price','base_price','emailer_for_promotion','homepage_featured']])
y = np.array(df['num_orders'])
X = normalize(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=45)

In [9]:
Q,R = np.linalg.qr(X_train)
beta = np.linalg.inv(R).dot(Q.T).dot(y_train)
beta0 = np.median(y_train - X_train.dot(beta))
print(beta,beta0)

[ -3.38792661 -20.88614816 -50.7873191  -59.0158388   88.95181511
  83.0590978 ] 200.42825670073395

In [11]:
predicted_y = X_test.dot(beta) + beta0
error = np.sqrt(np.sum((y_test - predicted_y)**2))
print(error)

132918.1306805705